*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  background-image: linear-gradient(rgb(254, 141, 254), white);
 
}

/* main-js style*/
.main--container{
  display: block;
  height: 400px;
  width:auto;
  text-align: center;
  font-size: 20px;
}

.main--heading{
  height: 85px;
  margin: 100px;
  text-shadow: 3px 2px 3px white;
  
}

.main--button{
  
  background-color: rgb(84, 166, 249);
  border-radius: 30px;
  border: none;
  outline: none;
  width: 115px;
  height: 40px;
  box-shadow: 1px 1px 2px black;
  
  
}